:root {
    font-family: 'Roboto', sans-serif;
    --text-color: grey;
    background-color: rgb(255, 255, 255);
    --t1_color: #333;
    --t2_color: #4C5866;
    --t3_color: #FFF;
    --t4_color: #34343b;
    --t5_color: #464545;
    --t6_color: #1915f5;
    --t7_color: #EBEBEB;
    --t9_color: #DDD;
    --t10_color: #888888;
    --t11_color: #C4C4C4;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    min-width: 320px;
}

  *, *:before, *:after {
    box-sizing: inherit;
}

.block0{
    display: block;
    margin-left: 0px;
    margin-right: 0px;
}

/*хэдер*/

.wrapper {/*обертка */
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.head_frame{/*в ней кружочки и текст*/
    margin-top: 11px;
    margin-bottom: 11px;
    align-self: center;
    justify-self: center;
    grid-column: span 2;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.head_frame:active{
    box-shadow: 0 2px 4px black;
}

.head_frame:hover{
    transform: scale(1.1) rotate(5deg); /* Масштабирование и поворот кнопки при наведении */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Тень при наведении */
    background-color: #2980b9; /* Новый цвет фона при наведении */
    color: #fff; /* Новый цвет текста при наведении */
}

.head_frame:focus {
    background-color: #960707;
}                         

.line1 {
    border-top: 1px solid var(--t4_color);
    grid-column: span 2;
}

.buttons1{
    display: flex;
    align-items: center;
    justify-self: center;
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
    grid-column: span 2;
}

.menub{
    display: block;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.menub:active{
    box-shadow: 0 2px 4px black;
}

.menub:hover{
    transform: scale(1.1) rotate(5deg); /* Масштабирование и поворот кнопки при наведении */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Тень при наведении */
    background-color: #2980b9; /* Новый цвет фона при наведении */
    color: #fff; /* Новый цвет текста при наведении */
}

.menub:focus {
    background-color: #960707;
}  

.button_find{
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    margin-left: 182px;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.button_find:active{
    box-shadow: 0 2px 4px black;
}

.button_find:hover{
    transform: scale(1.1) rotate(5deg); /* Масштабирование и поворот кнопки при наведении */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Тень при наведении */
    background-color: #2980b9; /* Новый цвет фона при наведении */
    color: #fff; /* Новый цвет текста при наведении */
}

.button_find:focus {
    background-color: #960707;
} 

.button_enter{
    width: 24px;
    height: 24px;
    margin-left: 30px;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.button_enter:active{
    box-shadow: 0 2px 4px black;
}

.button_enter:hover{
    transform: scale(1.1) rotate(5deg); /* Масштабирование и поворот кнопки при наведении */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Тень при наведении */
    background-color: #2980b9; /* Новый цвет фона при наведении */
    color: #fff; /* Новый цвет текста при наведении */
}

.button_enter:focus {
    background-color: #960707;
} 

.buttons2{
    display: none;
    grid-column: span 2;
}

.buttonsin{
    color: #4C5866;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    flex-grow: 1;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.buttonsin:active{
    text-shadow: 0 0 1px red;
}

.buttonsin:hover{
    transform: scale(1.1) rotate(5deg); /* Масштабирование и поворот кнопки при наведении */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Тень при наведении */
    background-color: #2980b9; /* Новый цвет фона при наведении */
    color: #fff; /* Новый цвет текста при наведении */
}

.buttonsin:focus {
    color: #960707;
} 

.line2 {
    border-top: 1px solid var(--t4_color);
    margin-top: 18px;
    grid-column: span 2;
}
/*конец хэдера*/

/*main*/
.section1{
    margin: 0 auto; 
    padding: 49px 16px 49px 15px;
    display: flex;
}

.tybys{
    
    display: none;
}

.text1{
    margin-top: 0px;
    color: var(--t2_color);
    font-size: calc(30px + (30 + 30 *0.7) * ((100vw - 320px)/1440));
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
}

.text2{
    color: var(--t4_color);
    font-size: calc(14px + (4 + 4 *0.7) * ((100vw - 320px)/1440));
    font-style: normal;
    line-height: 150%; /* 21px */
    margin-top: 15px;
    margin-bottom: 21px;
}

.button_list{
    display: flex;
    max-width: 144px;
    max-height: 50px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--t6_color);
    background-color: var(--t3_color);
    color: var(--t6_color);
    font-size: 1.8rem;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.button_list:hover{
    transform: scale(1.1) rotate(5deg); /* Масштабирование и поворот кнопки при наведении */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Тень при наведении */
    background-color: var(--t6_color);
    color: var(--t3_color);
}

.button_list:active{
    box-shadow:  2px 2px black;
}

.button_list:focus {
    background-color: #960707;
} 

/*section2*/

.section2{
    width: 100%;
    margin: 0 auto;
    padding: 49px 15px;
    padding-bottom: 0px;
    background: var(--t7_color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.block{
    border-top: 1px solid var(--t4_color);
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
}

.small_pic{
    max-width: 100%;
    /*width: 130px;*/
}
.block14{
    border-top: 1px solid var(--t4_color);
    padding-bottom: 20px;
    padding-top: 20px;
}

.text_m{
    color: var(--t5_color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */ 
    padding-top: 12px;
}

.text_sm{
    color: var(--t4_color);
    font-size: calc(16px + (2 + 2 *0.7) * ((100vw - 320px)/1440));
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-top: -5px;
}

.section2and5{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 49px;
    background: var(--t7_color);
    display: grid;
    grid-template-columns: 1fr;
}

.block13{
    margin-top: 52px;
    grid-column: span 2;
}

.photo4{
    width: 290px;
}

.text4{
    color: var(--t5_color);
    font-size: calc(24px + (16 + 16 *0.7) * ((100vw - 320px)/1440));
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    margin-top: 20px;
}

.text5{
    color: var(--t4_color);
    font-size: calc(16px + (2 + 2 *0.7) * ((100vw - 320px)/1440));
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
    margin-top: 14px;
}

/*section3*/

.section3{
    padding: 60px 15px;
    display: grid;
    grid-template-columns: 1fr;
}

.block16{
    margin-bottom: 60px;
}

.photo5{
    max-width: 100%;
    background: var(--t7_color);
}

.text6{
    color: var(--t5_color);
    font-size: calc(24px + (6 + 6 *0.7) * ((100vw - 320px)/1440));
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
    margin-top: 15px;
}

.text7{
    color: var(--t5_color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 10px;
}

.text8{
    color: var(--t4_color);
    font-size: calc(16px + (2 + 2 *0.7) * ((100vw - 320px)/1440));
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
    margin-bottom: 30px;
    margin-top: 0px;
}

.text9{
    display: inline-block;
    color: var(--t6_color);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;/*убратьподчеркивание*/
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.text9:hover{
    transform: scale(1.1) rotate(5deg); /* Масштабирование и поворот кнопки при наведении */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Тень при наведении */
    background-color: #2980b9; /* Новый цвет фона при наведении */
    color: #fff; /* Новый цвет текста при наведении */
}

.text9:active{
    box-shadow: 0 2px 4px black;
}

.text9:focus {
    background-color: #960707;
} 

/*далее спонсоры на сером фоне*/

.section4{
    width: 100%;
    margin: 0 auto; 
    padding: 60px 15px;
    background: var(--t7_color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
}

.sr-only{
    display: none;
}

.block4{
    display: flex;
    width: 150px;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--t11_color);
    margin-right: 30px;
    box-shadow: 5px 5px 5px var(--t10_color);
    position: relative;/**/
}

.inblock1{
    max-width: 100%;
}

/*конец серого фона*/

.section5{
    width: 100%;
    margin: 0 auto; 
    padding: 60px 15px;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr;
}

.photo7{
    width: 100%;
    height: 100%;
}

.text10{
    color: var(--t5_color);
    font-size: calc(24px + (16 + 16 *0.7) * ((100vw - 320px)/1440));
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    margin-top: 0px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, black, #bfe9ff);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.text11{
    color: var(--t4_color);
    font-size: calc(16px + (2 + 2 *0.7) * ((100vw - 320px)/1440));
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
    margin-top: 0px;
    margin-bottom: 30px;
}

/*подвал*/

.s6grids{
    width: 100%;
    background: var(--t2_color);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;/*по строке*/
}

.block6{
    background: var(--t2_color);
    text-align: center;
    margin: 0 auto;
}

.photo11{
    padding-top: 20px;
    padding-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.line3{
    width: 100%;
    height: 1px;
    opacity: 0.2;
    background: var(--t9_color);
    margin-left: 5px;
}

.block11{
    background: var(--t2_color);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.link1{
    margin-right:30px;
}

.photo10{
    width: 24px;
    height: 24px;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.photo11:active{
    box-shadow: 0 2px 4px black;
}

.photo11:hover{
    transform: scale(1.1) rotate(5deg); /* Масштабирование и поворот кнопки при наведении */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Тень при наведении */
    background-color: #2980b9; /* Новый цвет фона при наведении */
    color: #fff; /* Новый цвет текста при наведении */
}

.photo11:focus {
    background-color: #960707;
} 

.photo10:active{
    box-shadow: 0 2px 4px black;
}

.photo10:hover{
    transform: scale(1.1) rotate(5deg); /* Масштабирование и поворот кнопки при наведении */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Тень при наведении */
    background-color: #2980b9; /* Новый цвет фона при наведении */
    color: #fff; /* Новый цвет текста при наведении */
}

.photo10:focus {
    background-color: #960707;
} 

.lastbox{
    width: 100%;
    text-align: center;
    background: var(--t3_color);
    margin-bottom: 3px;
}

.lasttext{
    color: var(--t2_color);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

/*конец подвала*/

.photo8{
    width: 17px;
    height: 17px;
    border-radius: 11px;
    border: 1px solid var(--t3_color);
}

.text12{
    color: var(--t3_color);
    font-family: Ubuntu, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.photo9{
    width: 32px;
    height: 17px;
    border-radius: 11px;
    border: 1px solid var(--t3_color);
}

/*ниже файл 2я страница с гридами*/

.dashboard{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "linkss grafic";

}

.links{
    grid-area: linkss;
}

.graf{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-area: grafic;
}

.largbocks{
    grid-column: 1/-1;
}

.smallbocks{
    grid-column: span 2;
}

.mediumbocks{
    grid-column: span 3;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}

.item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 1;
    max-width: 100%;
    border-radius: 8px;
    justify-self: center;
    align-items: center;
}

.itemimg{
    grid-column: -1/1;
    grid-row-start: 1;
    max-width: 100%;
}

.itema{
    background-color: black;
    padding: 10px 20px;
    grid-column: -1/1;
    grid-row-start: 1;
}

/*form.html*/
html, body { height: 100%;}

body > footer {
    position: sticky;
    top: 100vh;
}

.form1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

legend{
    padding-top: 10px;
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

label {
    margin-bottom: 8px;
}

.input1{
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 2px solid rgb(174, 18, 18);
}

.input2{
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 2px solid black;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.form_text{
    color: #434343;
    font-weight: bold;
    font-size: 1.6rem;
}

input::placeholder {
    color: rgb(212, 180, 212); /* Цвет текста плейсхолдера */
    font-size: 1rem; /* Размер текста плейсхолдера */
    font-weight: bold; /* Жирность текста плейсхолдера */
}

.button1 {
    margin-top: 10px;
    margin-left: 8px;
    background-color: #f44336;
}
label span {
    color: red;
    margin-left: 4px;
}

.span_text{
    color: rgb(0, 0, 0);
}

/**/
::selection {
    background-color: var(--t7_color); /* Цвет фона при выделении */
    color: var(--t3_color); /* Цвет текста при выделении */
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 5s linear infinite, fadeOut 5s ease-out 5s forwards;
    
    position: absolute;
    top: 40px;
    left: 95px;
    z-index: 2;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.aim{
    max-width: 100%;
    animation: fadein 35s;
    position: relative; 
    z-index: 1;
}

/*лаб9 форм*/
.block61 {
    background: var(--t2_color);
    text-align: center;
    margin: 0 auto;
    transform: rotate(30deg) scale(1.5) skewX(5deg) skewY(5deg);
}

main, header, footer{
    margin: 0 auto;
    max-width: 1440px; 
}

input:checked+span {
    color: rgb(24, 49, 195);
}



