:root {
    font-family: 'Roboto', sans-serif;
    --text-color: grey;
    background-color: rgb(255, 255, 255);
    --t1_color: #333;
    --t2_color: #4C5866;
    --t3_color: #FFF;
    --t4_color: #85859B;
    --t5_color: #666;
    --t6_color: #7875FE;
    --t7_color: #EBEBEB;
    --t8_color: #B5B5BD;
    --t9_color: #DDD;
    --t10_color: #888888;
    --t11_color: #C4C4C4;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    min-width: 320px;
}

  *, *:before, *:after {
    box-sizing: inherit;
}

.head_frame{/*в ней кружочки и текст*/
    display: flex;
    justify-content: center;
    margin-top: 11px;
    margin-bottom: 11px;
}

.text1{
    color: var(--t1_color);
    font-family: Ubuntu, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
}

.text13{
    margin-top: 0px;
    margin-bottom: 15px;
    width: 221px;
    color: var(--t2_color);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 30px */
}

.line1 {
    border-top: 1px solid var(--t4_color);
}

.line2 {
    border-top: 1px solid var(--t4_color);
    margin-top: 18px;
}

.buttons1{
    display: flex;
    align-items: center;
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
}

.button_find{
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    margin-left: 182px;
}

.button_enter{
    width: 24px;
    height: 24px;
    margin-left: 30px;
}
/*ПРОСТЫЕ ВЕЩИ и тд....*/

.section1{
    max-width: 320px; /* Задайте нужную вам максимальную ширину */
    margin: 0 auto; /* Центрирование контента по горизонтали */
    padding: 49px 16px 49px 15px; /* Отступы слева и справа для создания отступов от краев экрана */
}

.text1{
    color: var(--t2_color);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 30px */
}

.text2{
    color: var(--t4_color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    margin-bottom: 21px;
}

.button_list{
    display: flex;
    max-width: 144px;
    max-height: 50px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--t6_color);
    background-color: var(--t3_color);
    color: var(--t6_color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

/*список услуг*/

.section2{
    max-width: 320px;
    margin: 0 auto; 
    padding: 49px 15px;
    background: var(--t7_color);
}

/*.hide{
    display: none;
}*/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.block{
    display: flex;
    border-top: 1px solid var(--t4_color);
    padding-bottom: 20px;
    padding-top: 20px;
}

.small_pic{
    width: 130px;
    /*height: 96px;*/
}
.block14{
    padding-left: 30px;
}

.text_m{
    color: var(--t5_color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */ 
    padding-top: 12px;
}

.text_sm{
    color: var(--t4_color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-top: -5px;
}

.block13{
    margin-top: 52px;
}

.photo4{
    width: 290px;
    /*height: 223px;*/
}

.text4{
    color: var(--t5_color);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    margin-top: 20px;
}

.text5{
    color: var(--t4_color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
    margin-top: 14px;
}

/*серый фон кончился*/

.section3{
    max-width: 320px;
    margin: 0 auto; 
    padding: 60px 15px;
    display: flex;
    justify-content: center;
}

.block15{
    list-style-type: none;/*убрал черные точки*/
}

.block16{
    margin-bottom: 60px;
}

.photo5{
    width: 290px;
    height: 180px;
    background: var(--t7_color);
}

.text6{
    color: var(--t5_color);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
    margin-top: 15px;
}

.text7{
    color: var(--t8_color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 10px;
}

.text8{
    color: var(--t4_color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
    margin-bottom: 30px;
    margin-top: 0px;
}

.text9{
    color: var(--t6_color);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;/*убратьподчеркивание*/
}

/*далее спонсоры на сером фоне*/

.section4{
    max-width: 320px;
    margin: 0 auto; 
    padding: 60px 15px;
    background: var(--t7_color);
    overflow: hidden;
}

.block3{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.block4{
    display: flex;
    width: 150px;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(--t11_color);
    margin-right: 30px;
    box-shadow: 5px 5px 5px var(--t10_color);
}

.inblock1{
    align-items: center;
}

/*конец серого фона*/

.section5{
    max-width: 320px;
    margin: 0 auto; 
    padding: 60px 15px;
    align-items: center;
}

.photo7{
    height: 220px;
    flex-shrink: 0;
}

.text10{
    color: var(--t5_color);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    margin-top: 0px;
    margin-bottom: 20px;

    background-image: linear-gradient(to right, black, #bfe9ff);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.text11{
    color: var(--t4_color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
    margin-top: 0px;
    margin-bottom: 30px;
}

/*подвал*/
.section6{
    max-width: 320px;
    margin: 0 auto; 
    padding: 0px 0px;
    background: var(--t2_color);
}

.block6{
    background: var(--t2_color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.photo8{
    width: 17px;
    height: 17px;
    border-radius: 11px;
    border: 1px solid var(--t3_color);
}

.text12{
    color: var(--t3_color);
    font-family: Ubuntu, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.photo9{
    width: 32px;
    height: 17px;
    border-radius: 11px;
    border: 1px solid var(--t3_color);
}

.line3{
    width: 290px;
    height: 1px;
    opacity: 0.2;
    background: var(--t9_color);
    margin-left: 5px;
}

.link1{
    display: inline-block;/*теперь имеет свойства и блока и строки*/
    margin-right:30px;
}

.photo10{
    width: 24px;
    height: 24px;
}

.lastbox{
    width: 320px;
    text-align: center;
    background: var(--t3_color);
    margin-bottom: 3px;
}

.lasttext{
    color: var(--t2_color);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.block0{
    display: block;
    margin-left: 0px;
    margin-right: 0px;
}

.block11{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.photo11{
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrapper {/*обертка */
    max-width: 320px; /* Задайте нужную вам максимальную ширину */
    margin: 0 auto; /* Центрирование контента по горизонтали */
    padding: 0 1px; /* Отступы слева и справа для создания отступов от краев экрана */
}
